* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    background: url('./assets/imgHome.png') no-repeat;
    background-size: 100% 100vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

nav {
    display: flex;
    align-items: center;
    padding: 4rem 7.2rem;
    gap: 3.2rem;
}

a {
    text-decoration: none;
    color: #c4c4cc;
    font-size: 2.2rem;
    line-height: 2.2rem;
}

h1 {
    color: #e1e1e6;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 6rem;
}

/* HOME */
/* Verificar a centralização */
.mainHome {
    height: 100vh;
    display: grid;
    place-content: center;
    margin-top: -13rem;
    place-items: center;
}

.mainHome a {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    background: transparent;
    
    padding: 1.2rem 3.2rem;
    width: 20rem;
    height: 4.8rem;
    
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 0.5rem;
    margin-top: 2.4rem;

    font-size: 1.4rem;
    line-height: 2.4rem;

    transition: background 0.3s;
    cursor: pointer;
}

.mainHome a:hover {
    background: #ffffff;
    color: #02799d;
}

.bodyHome {
    background: url('./assets/imgHome.png') no-repeat;
    background-size: 100vw 100vh;
}

.mainAbout {
    padding: 10rem;
}

.mainAbout p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.9rem;
    color: #e1e1e6;
    width: 65rem;
    height: 20rem;
    margin-top: 1.6rem;
}

.bodyAbout {
    background: url('./assets/imgAbout.png') no-repeat;
    background-size: 100vw 100vh;
}

.mainExplorer {
    padding: 10rem;
}

.mainExplorer p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.9rem;
    color: #e1e1e6;
    width: 65rem;
    height: 20rem;
    margin-top: 1.6rem;
}

.bodyExplorer {
    background: url('./assets/imgExplorer.png') no-repeat;
    background-size: 100vw 100vh;
}

.active {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #ffffff;
}
